---
layout: description
title: 아파트 실거래 분석
pagetype: blog
---

<link rel="stylesheet" href="/assets/css/styles.css" media="all" onload="if(media!='all')media='all'">

<script>

    var update_date = '2021/05/27';
    console.log(new Date().format("yyyy/MM/dd"))
    function go(type, target, date) {
        return '/실거래분석/' + update_date + '/' + type + '-' + target + '-' + date + '.html'
    }

</script>


<main class="sub-mid-section-cover">
    <h2>오늘 거래 데이터</h2>

    <ul>
        <li><h4><a href="#" onclick="location.href=go('trading', 'region', 'today');return false;">매매 상위 50 지역</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('rent', 'region', 'today');return false;">전월세 상위 50 지역</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('reselling', 'region', 'today');return false;">분양권 상위 50 지역</a></h4></li>

        <li><h4><a href="#" onclick="location.href=go('trading', 'apt', 'today');return false;">매매 상위 50 아파트</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('rent', 'apt', 'today');return false;">전월세 상위 50 아파트</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('reselling', 'apt', 'today');return false;">분양권 상위 50 아파트</a></h4></li>

    </ul>



    <h2>지난 일주일 동안 거래 데이터</h2>

    <ul>
        <li><h4><a href="#" onclick="location.href=go('trading', 'apt', 'week');return false;">지난 일주일간 매매 상위 50 아파트</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('rent', 'apt', 'week');return false;">지난 일주일간 전월세 상위 50 아파트</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('reselling', 'apt', 'week');return false;">지난 일주일간 분양권 상위 50 아파트</a></h4></li>

        <li><h4><a href="#" onclick="location.href=go('trading', 'region', 'week');return false;">지난 일주일간 매매 상위 50 지역</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('rent', 'region', 'week');return false;">지난 일주일간 전월세 상위 50 지역</a></h4></li>
        <li><h4><a href="#" onclick="location.href=go('reselling', 'region', 'week');return false;">지난 일주일간 분양권 상위 50 지역</a></h4></li>
    </ul>

</main>
