---
layout: description
title: 아파트 실거래 정보
pagetype: blog
---
<!-- This loops through the paginated posts -->

<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
       $("tr.header").click(function () {
          $("tr.child", $(this).parent()).slideToggle({
            duration: 'fast',
            step: function() {
                if ($(this).css('display') == 'block') {
                    $(this).css('display', 'table-row');
                }
            },
            complete: function() {
                if ($(this).css('display') == 'block') {
                    $(this).css('display', 'table-row');
                }
            }
        });
       });
    });
</script>

{% if paginator.total_posts == 0 %}
    <p>No posts right now.</p>
{% else %}



<!-- need to add region selection buttons -->

<div class="area-apt-info">
    
    <a id="txt_total_update_count" style="font-size: large; font-weight: bold; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count" style="font-size: large; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count_sell" style="font-size: small; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count_rent" style="font-size: small; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count_resale" style="font-size: small; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>

</div>

<div class="area-apt-search">
    <a style="font-size: large; font-weight: bold; margin-top: 20; margin-bottom: 10;">실거래가 검색</a>
    <label class="field field_v1">
      <input class="field__input" id="search" placeholder="지역/아파트명을 입력해주세요" onkeyup="javascript:onSearchChanged()">
      <span class="field__label-wrap">
        <span class="field__label">지역/아파트명을 입력해주세요</span>
      </span>
    </label>
</div>

<!-- <input id="search" type="text" style="width: 90%;" placeholder="지역/아파트명을 입력해주세요" onblur="this.placeholder='지역/아파트명을 입력해주세요'" onfocus="this.placeholder=''" > -->
<div class='search_list' id='search_list'></div>


<br>
<div class="area-apt-analysis" style="padding: 16px;">
    <a style="font-size: large; font-weight: bold; margin-top: 5; margin-bottom: 30; padding-bottom: 10;">지역별 실거래가</a>

    <!-- start -->
    <table style="margin-top: 5px; width: 100%;">
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" nowrap/>
        <col width="15%" nowrap/>
        <col width="15%" nowrap/>
      </colgroup>
      <tr>
        <td>지역</td>
        <td>매매</td>
        <td>전월세</td>
        <td>전매</td>
      </tr>    
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>서울특별시</td>
        <td>8857</td>
        <td>26963</td>
        <td>53</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시종로구">서울특별시종로구</a></td>
        <td>63</td>
        <td>250</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시중구">서울특별시중구</a></td>
        <td>114</td>
        <td>381</td>
        <td>3</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시용산구">서울특별시용산구</a></td>
        <td>198</td>
        <td>684</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시성동구">서울특별시성동구</a></td>
        <td>298</td>
        <td>1118</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시광진구">서울특별시광진구</a></td>
        <td>133</td>
        <td>448</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시동대문구">서울특별시동대문구</a></td>
        <td>330</td>
        <td>857</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시중랑구">서울특별시중랑구</a></td>
        <td>338</td>
        <td>658</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시성북구">서울특별시성북구</a></td>
        <td>470</td>
        <td>1043</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강북구">서울특별시강북구</a></td>
        <td>195</td>
        <td>374</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시도봉구">서울특별시도봉구</a></td>
        <td>421</td>
        <td>795</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시노원구">서울특별시노원구</a></td>
        <td>936</td>
        <td>2058</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시은평구">서울특별시은평구</a></td>
        <td>321</td>
        <td>814</td>
        <td>15</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시서대문구">서울특별시서대문구</a></td>
        <td>320</td>
        <td>648</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시마포구">서울특별시마포구</a></td>
        <td>298</td>
        <td>1193</td>
        <td>10</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시양천구">서울특별시양천구</a></td>
        <td>361</td>
        <td>1424</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강서구">서울특별시강서구</a></td>
        <td>684</td>
        <td>1851</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시구로구">서울특별시구로구</a></td>
        <td>566</td>
        <td>942</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시금천구">서울특별시금천구</a></td>
        <td>197</td>
        <td>350</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시영등포구">서울특별시영등포구</a></td>
        <td>326</td>
        <td>1111</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시동작구">서울특별시동작구</a></td>
        <td>303</td>
        <td>1001</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시관악구">서울특별시관악구</a></td>
        <td>280</td>
        <td>755</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시서초구">서울특별시서초구</a></td>
        <td>440</td>
        <td>1629</td>
        <td>3</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강남구">서울특별시강남구</a></td>
        <td>406</td>
        <td>2143</td>
        <td>5</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시송파구">서울특별시송파구</a></td>
        <td>426</td>
        <td>2196</td>
        <td>5</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강동구">서울특별시강동구</a></td>
        <td>433</td>
        <td>2240</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>부산광역시</td>
        <td>9703</td>
        <td>7868</td>
        <td>662</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시중구">부산광역시중구</a></td>
        <td>78</td>
        <td>40</td>
        <td>27</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시서구">부산광역시서구</a></td>
        <td>194</td>
        <td>94</td>
        <td>16</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시동구">부산광역시동구</a></td>
        <td>95</td>
        <td>125</td>
        <td>16</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시영도구">부산광역시영도구</a></td>
        <td>382</td>
        <td>271</td>
        <td>48</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시부산진구">부산광역시부산진구</a></td>
        <td>848</td>
        <td>944</td>
        <td>160</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시동래구">부산광역시동래구</a></td>
        <td>656</td>
        <td>480</td>
        <td>15</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시남구">부산광역시남구</a></td>
        <td>736</td>
        <td>483</td>
        <td>103</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시북구">부산광역시북구</a></td>
        <td>948</td>
        <td>715</td>
        <td>47</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시해운대구">부산광역시해운대구</a></td>
        <td>1288</td>
        <td>1077</td>
        <td>7</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시사하구">부산광역시사하구</a></td>
        <td>1430</td>
        <td>586</td>
        <td>32</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시금정구">부산광역시금정구</a></td>
        <td>465</td>
        <td>282</td>
        <td>19</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시강서구">부산광역시강서구</a></td>
        <td>313</td>
        <td>999</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시연제구">부산광역시연제구</a></td>
        <td>564</td>
        <td>376</td>
        <td>99</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시수영구">부산광역시수영구</a></td>
        <td>356</td>
        <td>412</td>
        <td>22</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시사상구">부산광역시사상구</a></td>
        <td>635</td>
        <td>480</td>
        <td>10</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시기장군">부산광역시기장군</a></td>
        <td>715</td>
        <td>504</td>
        <td>41</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>대구광역시</td>
        <td>3664</td>
        <td>3484</td>
        <td>635</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시중구">대구광역시중구</a></td>
        <td>63</td>
        <td>87</td>
        <td>71</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시동구">대구광역시동구</a></td>
        <td>615</td>
        <td>446</td>
        <td>128</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시서구">대구광역시서구</a></td>
        <td>71</td>
        <td>84</td>
        <td>60</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시남구">대구광역시남구</a></td>
        <td>101</td>
        <td>103</td>
        <td>38</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시북구">대구광역시북구</a></td>
        <td>975</td>
        <td>604</td>
        <td>58</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시수성구">대구광역시수성구</a></td>
        <td>389</td>
        <td>749</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시달서구">대구광역시달서구</a></td>
        <td>802</td>
        <td>739</td>
        <td>42</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시달성군">대구광역시달성군</a></td>
        <td>648</td>
        <td>672</td>
        <td>237</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>인천광역시</td>
        <td>7617</td>
        <td>7380</td>
        <td>979</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시중구">인천광역시중구</a></td>
        <td>440</td>
        <td>669</td>
        <td>15</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시동구">인천광역시동구</a></td>
        <td>283</td>
        <td>96</td>
        <td>26</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시미추홀구">인천광역시미추홀구</a></td>
        <td>921</td>
        <td>571</td>
        <td>368</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시연수구">인천광역시연수구</a></td>
        <td>1009</td>
        <td>1343</td>
        <td>115</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시남동구">인천광역시남동구</a></td>
        <td>1186</td>
        <td>1515</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시부평구">인천광역시부평구</a></td>
        <td>1223</td>
        <td>1121</td>
        <td>207</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시계양구">인천광역시계양구</a></td>
        <td>1054</td>
        <td>792</td>
        <td>42</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시서구">인천광역시서구</a></td>
        <td>1477</td>
        <td>1264</td>
        <td>202</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시강화군">인천광역시강화군</a></td>
        <td>24</td>
        <td>9</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시옹진군">인천광역시옹진군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>광주광역시</td>
        <td>5081</td>
        <td>3584</td>
        <td>304</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시동구">광주광역시동구</a></td>
        <td>183</td>
        <td>299</td>
        <td>49</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시서구">광주광역시서구</a></td>
        <td>1046</td>
        <td>540</td>
        <td>23</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시남구">광주광역시남구</a></td>
        <td>607</td>
        <td>537</td>
        <td>39</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시북구">광주광역시북구</a></td>
        <td>1746</td>
        <td>964</td>
        <td>133</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시광산구">광주광역시광산구</a></td>
        <td>1499</td>
        <td>1244</td>
        <td>60</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>대전광역시</td>
        <td>3103</td>
        <td>3108</td>
        <td>366</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시동구">대전광역시동구</a></td>
        <td>478</td>
        <td>307</td>
        <td>9</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시중구">대전광역시중구</a></td>
        <td>485</td>
        <td>481</td>
        <td>24</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시서구">대전광역시서구</a></td>
        <td>959</td>
        <td>1055</td>
        <td>19</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시유성구">대전광역시유성구</a></td>
        <td>729</td>
        <td>1055</td>
        <td>275</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시대덕구">대전광역시대덕구</a></td>
        <td>452</td>
        <td>210</td>
        <td>39</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>울산광역시</td>
        <td>3459</td>
        <td>1828</td>
        <td>278</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시중구">울산광역시중구</a></td>
        <td>419</td>
        <td>249</td>
        <td>77</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시남구">울산광역시남구</a></td>
        <td>878</td>
        <td>511</td>
        <td>53</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시동구">울산광역시동구</a></td>
        <td>673</td>
        <td>291</td>
        <td>122</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시북구">울산광역시북구</a></td>
        <td>828</td>
        <td>447</td>
        <td>23</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시울주군">울산광역시울주군</a></td>
        <td>661</td>
        <td>330</td>
        <td>3</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/세종특별자치시">세종특별자치시</a></td>
        <td>538</td>
        <td>2255</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>경기도</td>
        <td>31642</td>
        <td>38140</td>
        <td>1585</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시">경기도수원시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시장안구">경기도수원시장안구</a></td>
        <td>649</td>
        <td>483</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시권선구">경기도수원시권선구</a></td>
        <td>939</td>
        <td>892</td>
        <td>15</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시팔달구">경기도수원시팔달구</a></td>
        <td>305</td>
        <td>439</td>
        <td>51</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시영통구">경기도수원시영통구</a></td>
        <td>1162</td>
        <td>1207</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시">경기도성남시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시수정구">경기도성남시수정구</a></td>
        <td>122</td>
        <td>630</td>
        <td>7</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시중원구">경기도성남시중원구</a></td>
        <td>202</td>
        <td>343</td>
        <td>35</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시분당구">경기도성남시분당구</a></td>
        <td>565</td>
        <td>2092</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도의정부시">경기도의정부시</a></td>
        <td>1045</td>
        <td>1043</td>
        <td>57</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안양시">경기도안양시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안양시만안구">경기도안양시만안구</a></td>
        <td>385</td>
        <td>374</td>
        <td>22</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안양시동안구">경기도안양시동안구</a></td>
        <td>692</td>
        <td>1189</td>
        <td>7</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도부천시">경기도부천시</a></td>
        <td>1385</td>
        <td>1383</td>
        <td>50</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도광명시">경기도광명시</a></td>
        <td>446</td>
        <td>1098</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도평택시">경기도평택시</a></td>
        <td>2831</td>
        <td>1774</td>
        <td>230</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도동두천시">경기도동두천시</a></td>
        <td>536</td>
        <td>257</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안산시">경기도안산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안산시상록구">경기도안산시상록구</a></td>
        <td>404</td>
        <td>412</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안산시단원구">경기도안산시단원구</a></td>
        <td>518</td>
        <td>1028</td>
        <td>7</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시">경기도고양시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시덕양구">경기도고양시덕양구</a></td>
        <td>730</td>
        <td>1558</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시일산동구">경기도고양시일산동구</a></td>
        <td>482</td>
        <td>762</td>
        <td>14</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시일산서구">경기도고양시일산서구</a></td>
        <td>1115</td>
        <td>1268</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도과천시">경기도과천시</a></td>
        <td>43</td>
        <td>178</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도구리시">경기도구리시</a></td>
        <td>328</td>
        <td>491</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도남양주시">경기도남양주시</a></td>
        <td>1421</td>
        <td>2920</td>
        <td>60</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도오산시">경기도오산시</a></td>
        <td>795</td>
        <td>641</td>
        <td>34</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도시흥시">경기도시흥시</a></td>
        <td>1457</td>
        <td>1479</td>
        <td>16</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도군포시">경기도군포시</a></td>
        <td>707</td>
        <td>835</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도의왕시">경기도의왕시</a></td>
        <td>311</td>
        <td>658</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도하남시">경기도하남시</a></td>
        <td>432</td>
        <td>1168</td>
        <td>28</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시">경기도용인시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시처인구">경기도용인시처인구</a></td>
        <td>471</td>
        <td>310</td>
        <td>65</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시기흥구">경기도용인시기흥구</a></td>
        <td>1027</td>
        <td>1575</td>
        <td>9</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시수지구">경기도용인시수지구</a></td>
        <td>809</td>
        <td>1385</td>
        <td>12</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도파주시">경기도파주시</a></td>
        <td>1512</td>
        <td>1423</td>
        <td>3</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도이천시">경기도이천시</a></td>
        <td>868</td>
        <td>345</td>
        <td>40</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안성시">경기도안성시</a></td>
        <td>1285</td>
        <td>775</td>
        <td>74</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도김포시">경기도김포시</a></td>
        <td>757</td>
        <td>1449</td>
        <td>61</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도화성시">경기도화성시</a></td>
        <td>2640</td>
        <td>2745</td>
        <td>210</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도광주시">경기도광주시</a></td>
        <td>701</td>
        <td>495</td>
        <td>80</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도양주시">경기도양주시</a></td>
        <td>646</td>
        <td>682</td>
        <td>49</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도포천시">경기도포천시</a></td>
        <td>298</td>
        <td>143</td>
        <td>21</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도여주시">경기도여주시</a></td>
        <td>362</td>
        <td>111</td>
        <td>162</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도연천군">경기도연천군</a></td>
        <td>47</td>
        <td>23</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도가평군">경기도가평군</a></td>
        <td>71</td>
        <td>22</td>
        <td>14</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도양평군">경기도양평군</a></td>
        <td>141</td>
        <td>55</td>
        <td>138</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>강원도</td>
        <td>5675</td>
        <td>2967</td>
        <td>606</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도춘천시">강원도춘천시</a></td>
        <td>1150</td>
        <td>437</td>
        <td>97</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도원주시">강원도원주시</a></td>
        <td>2087</td>
        <td>1178</td>
        <td>109</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도강릉시">강원도강릉시</a></td>
        <td>736</td>
        <td>375</td>
        <td>52</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도동해시">강원도동해시</a></td>
        <td>313</td>
        <td>353</td>
        <td>38</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도태백시">강원도태백시</a></td>
        <td>125</td>
        <td>23</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도속초시">강원도속초시</a></td>
        <td>559</td>
        <td>281</td>
        <td>148</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도삼척시">강원도삼척시</a></td>
        <td>111</td>
        <td>31</td>
        <td>48</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도홍천군">강원도홍천군</a></td>
        <td>81</td>
        <td>38</td>
        <td>53</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도횡성군">강원도횡성군</a></td>
        <td>58</td>
        <td>14</td>
        <td>8</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도영월군">강원도영월군</a></td>
        <td>62</td>
        <td>10</td>
        <td>11</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도평창군">강원도평창군</a></td>
        <td>104</td>
        <td>7</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도정선군">강원도정선군</a></td>
        <td>47</td>
        <td>21</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도철원군">강원도철원군</a></td>
        <td>25</td>
        <td>152</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도화천군">강원도화천군</a></td>
        <td>12</td>
        <td>2</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도양구군">강원도양구군</a></td>
        <td>16</td>
        <td>2</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도인제군">강원도인제군</a></td>
        <td>19</td>
        <td>7</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도고성군">강원도고성군</a></td>
        <td>55</td>
        <td>12</td>
        <td>41</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도양양군">강원도양양군</a></td>
        <td>115</td>
        <td>24</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>충청북도</td>
        <td>5757</td>
        <td>3145</td>
        <td>503</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시">충청북도청주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시상당구">충청북도청주시상당구</a></td>
        <td>665</td>
        <td>262</td>
        <td>76</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시서원구">충청북도청주시서원구</a></td>
        <td>1231</td>
        <td>670</td>
        <td>113</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시흥덕구">충청북도청주시흥덕구</a></td>
        <td>1045</td>
        <td>747</td>
        <td>15</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시청원구">충청북도청주시청원구</a></td>
        <td>541</td>
        <td>527</td>
        <td>34</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도충주시">충청북도충주시</a></td>
        <td>1004</td>
        <td>340</td>
        <td>3</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도제천시">충청북도제천시</a></td>
        <td>543</td>
        <td>143</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도보은군">충청북도보은군</a></td>
        <td>38</td>
        <td>8</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도옥천군">충청북도옥천군</a></td>
        <td>75</td>
        <td>18</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도영동군">충청북도영동군</a></td>
        <td>54</td>
        <td>10</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도증평군">충청북도증평군</a></td>
        <td>82</td>
        <td>43</td>
        <td>35</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도진천군">충청북도진천군</a></td>
        <td>191</td>
        <td>286</td>
        <td>221</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도괴산군">충청북도괴산군</a></td>
        <td>11</td>
        <td>10</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도음성군">충청북도음성군</a></td>
        <td>227</td>
        <td>80</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도단양군">충청북도단양군</a></td>
        <td>50</td>
        <td>1</td>
        <td>4</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>충청남도</td>
        <td>7667</td>
        <td>4234</td>
        <td>1662</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도천안시">충청남도천안시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도천안시동남구">충청남도천안시동남구</a></td>
        <td>1030</td>
        <td>574</td>
        <td>467</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도천안시서북구">충청남도천안시서북구</a></td>
        <td>1874</td>
        <td>1574</td>
        <td>100</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도공주시">충청남도공주시</a></td>
        <td>212</td>
        <td>135</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도보령시">충청남도보령시</a></td>
        <td>182</td>
        <td>41</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도아산시">충청남도아산시</a></td>
        <td>2025</td>
        <td>912</td>
        <td>614</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도서산시">충청남도서산시</a></td>
        <td>717</td>
        <td>323</td>
        <td>89</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도논산시">충청남도논산시</a></td>
        <td>163</td>
        <td>54</td>
        <td>9</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도계룡시">충청남도계룡시</a></td>
        <td>212</td>
        <td>140</td>
        <td>121</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도당진시">충청남도당진시</a></td>
        <td>696</td>
        <td>286</td>
        <td>244</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도금산군">충청남도금산군</a></td>
        <td>57</td>
        <td>27</td>
        <td>17</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도부여군">충청남도부여군</a></td>
        <td>38</td>
        <td>12</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도서천군">충청남도서천군</a></td>
        <td>33</td>
        <td>10</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도청양군">충청남도청양군</a></td>
        <td>6</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도홍성군">충청남도홍성군</a></td>
        <td>213</td>
        <td>83</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도예산군">충청남도예산군</a></td>
        <td>133</td>
        <td>36</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도태안군">충청남도태안군</a></td>
        <td>76</td>
        <td>27</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>전라북도</td>
        <td>5817</td>
        <td>2673</td>
        <td>361</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도전주시">전라북도전주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도전주시완산구">전라북도전주시완산구</a></td>
        <td>1249</td>
        <td>581</td>
        <td>35</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도전주시덕진구">전라북도전주시덕진구</a></td>
        <td>1341</td>
        <td>584</td>
        <td>47</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도군산시">전라북도군산시</a></td>
        <td>1296</td>
        <td>494</td>
        <td>148</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도익산시">전라북도익산시</a></td>
        <td>1148</td>
        <td>567</td>
        <td>76</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도정읍시">전라북도정읍시</a></td>
        <td>188</td>
        <td>31</td>
        <td>12</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도남원시">전라북도남원시</a></td>
        <td>99</td>
        <td>164</td>
        <td>5</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도김제시">전라북도김제시</a></td>
        <td>82</td>
        <td>104</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도완주군">전라북도완주군</a></td>
        <td>275</td>
        <td>113</td>
        <td>28</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도진안군">전라북도진안군</a></td>
        <td>7</td>
        <td>4</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도무주군">전라북도무주군</a></td>
        <td>19</td>
        <td>3</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도장수군">전라북도장수군</a></td>
        <td>5</td>
        <td>1</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도임실군">전라북도임실군</a></td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도순창군">전라북도순창군</a></td>
        <td>8</td>
        <td>2</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도고창군">전라북도고창군</a></td>
        <td>37</td>
        <td>4</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도부안군">전라북도부안군</a></td>
        <td>43</td>
        <td>16</td>
        <td>6</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>전라남도</td>
        <td>3730</td>
        <td>3894</td>
        <td>405</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도목포시">전라남도목포시</a></td>
        <td>682</td>
        <td>593</td>
        <td>59</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도여수시">전라남도여수시</a></td>
        <td>495</td>
        <td>775</td>
        <td>42</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도순천시">전라남도순천시</a></td>
        <td>658</td>
        <td>875</td>
        <td>119</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도나주시">전라남도나주시</a></td>
        <td>415</td>
        <td>409</td>
        <td>5</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도광양시">전라남도광양시</a></td>
        <td>675</td>
        <td>373</td>
        <td>61</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도담양군">전라남도담양군</a></td>
        <td>8</td>
        <td>11</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도곡성군">전라남도곡성군</a></td>
        <td>10</td>
        <td>4</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도구례군">전라남도구례군</a></td>
        <td>12</td>
        <td>4</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도고흥군">전라남도고흥군</a></td>
        <td>29</td>
        <td>4</td>
        <td>7</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도보성군">전라남도보성군</a></td>
        <td>39</td>
        <td>19</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도화순군">전라남도화순군</a></td>
        <td>85</td>
        <td>146</td>
        <td>61</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도장흥군">전라남도장흥군</a></td>
        <td>23</td>
        <td>7</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도강진군">전라남도강진군</a></td>
        <td>16</td>
        <td>4</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도해남군">전라남도해남군</a></td>
        <td>70</td>
        <td>54</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도영암군">전라남도영암군</a></td>
        <td>140</td>
        <td>277</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도무안군">전라남도무안군</a></td>
        <td>249</td>
        <td>298</td>
        <td>22</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도함평군">전라남도함평군</a></td>
        <td>22</td>
        <td>2</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도영광군">전라남도영광군</a></td>
        <td>58</td>
        <td>12</td>
        <td>21</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도장성군">전라남도장성군</a></td>
        <td>19</td>
        <td>22</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도완도군">전라남도완도군</a></td>
        <td>12</td>
        <td>2</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도진도군">전라남도진도군</a></td>
        <td>13</td>
        <td>3</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도신안군">전라남도신안군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>경상북도</td>
        <td>7069</td>
        <td>4040</td>
        <td>1746</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도포항시">경상북도포항시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도포항시남구">경상북도포항시남구</a></td>
        <td>533</td>
        <td>418</td>
        <td>27</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도포항시북구">경상북도포항시북구</a></td>
        <td>1121</td>
        <td>592</td>
        <td>1095</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도경주시">경상북도경주시</a></td>
        <td>565</td>
        <td>430</td>
        <td>125</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도김천시">경상북도김천시</a></td>
        <td>397</td>
        <td>185</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도안동시">경상북도안동시</a></td>
        <td>446</td>
        <td>219</td>
        <td>65</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도구미시">경상북도구미시</a></td>
        <td>1832</td>
        <td>1082</td>
        <td>57</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영주시">경상북도영주시</a></td>
        <td>152</td>
        <td>30</td>
        <td>29</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영천시">경상북도영천시</a></td>
        <td>226</td>
        <td>273</td>
        <td>85</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도상주시">경상북도상주시</a></td>
        <td>126</td>
        <td>14</td>
        <td>30</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도문경시">경상북도문경시</a></td>
        <td>73</td>
        <td>9</td>
        <td>14</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도경산시">경상북도경산시</a></td>
        <td>825</td>
        <td>593</td>
        <td>202</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도군위군">경상북도군위군</a></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도의성군">경상북도의성군</a></td>
        <td>8</td>
        <td>3</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도청송군">경상북도청송군</a></td>
        <td>7</td>
        <td>3</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영양군">경상북도영양군</a></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영덕군">경상북도영덕군</a></td>
        <td>20</td>
        <td>2</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도청도군">경상북도청도군</a></td>
        <td>37</td>
        <td>5</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도고령군">경상북도고령군</a></td>
        <td>18</td>
        <td>9</td>
        <td>13</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도성주군">경상북도성주군</a></td>
        <td>11</td>
        <td>3</td>
        <td>2</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도칠곡군">경상북도칠곡군</a></td>
        <td>399</td>
        <td>107</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도예천군">경상북도예천군</a></td>
        <td>216</td>
        <td>52</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도봉화군">경상북도봉화군</a></td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도울진군">경상북도울진군</a></td>
        <td>46</td>
        <td>10</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도울릉군">경상북도울릉군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>경상남도</td>
        <td>11159</td>
        <td>6463</td>
        <td>2575</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시">경상남도창원시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시의창구">경상남도창원시의창구</a></td>
        <td>266</td>
        <td>414</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시성산구">경상남도창원시성산구</a></td>
        <td>1255</td>
        <td>853</td>
        <td>77</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시마산합포구">경상남도창원시마산합포구</a></td>
        <td>610</td>
        <td>473</td>
        <td>290</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시마산회원구">경상남도창원시마산회원구</a></td>
        <td>620</td>
        <td>211</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시진해구">경상남도창원시진해구</a></td>
        <td>547</td>
        <td>812</td>
        <td>15</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도진주시">경상남도진주시</a></td>
        <td>1184</td>
        <td>674</td>
        <td>43</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도통영시">경상남도통영시</a></td>
        <td>322</td>
        <td>83</td>
        <td>14</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도사천시">경상남도사천시</a></td>
        <td>319</td>
        <td>172</td>
        <td>25</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도김해시">경상남도김해시</a></td>
        <td>2607</td>
        <td>1139</td>
        <td>968</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도밀양시">경상남도밀양시</a></td>
        <td>162</td>
        <td>73</td>
        <td>15</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도거제시">경상남도거제시</a></td>
        <td>980</td>
        <td>537</td>
        <td>754</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도양산시">경상남도양산시</a></td>
        <td>1794</td>
        <td>932</td>
        <td>303</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도의령군">경상남도의령군</a></td>
        <td>12</td>
        <td>1</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도함안군">경상남도함안군</a></td>
        <td>117</td>
        <td>37</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창녕군">경상남도창녕군</a></td>
        <td>83</td>
        <td>12</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도고성군">경상남도고성군</a></td>
        <td>47</td>
        <td>12</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도남해군">경상남도남해군</a></td>
        <td>19</td>
        <td>2</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도하동군">경상남도하동군</a></td>
        <td>18</td>
        <td>3</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도산청군">경상남도산청군</a></td>
        <td>13</td>
        <td>4</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도함양군">경상남도함양군</a></td>
        <td>28</td>
        <td>7</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도거창군">경상남도거창군</a></td>
        <td>136</td>
        <td>12</td>
        <td>71</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도합천군">경상남도합천군</a></td>
        <td>20</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>제주특별자치도</td>
        <td>734</td>
        <td>510</td>
        <td>148</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/제주특별자치도제주시">제주특별자치도제주시</a></td>
        <td>533</td>
        <td>337</td>
        <td>92</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/제주특별자치도서귀포시">제주특별자치도서귀포시</a></td>
        <td>201</td>
        <td>173</td>
        <td>56</td>
      </tr>
    
    </table>
    <!-- end -->
</div>


<!-- <li>
    <a href="/실거래가/2021/03/20/41610.html">k</a>
</li> -->

{% endif %}

<hr>
{% if paginator.total_pages > 1 %}
<ul>

    {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        </li>
    {% endif %}
    {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        </li>
    {% endif %}
</ul>
{% endif %}


<script>


    var total_update_count = 256676;
    var total_update_new_high_price_sell = 2943;
    var total_update_new_high_price_rent = 201;
    var total_update_new_high_price_resale = 87382;
    var total_request_count = 742;
    var update_date = '2021/07/20';

    console.log(new Date().format("yyyy/MM/dd"));
    console.log(update_date);

    total_update_new_high_price = total_update_new_high_price_sell + total_update_new_high_price_rent + total_update_new_high_price_resale;

    document.getElementById('txt_total_update_count').innerText = "오늘 새로운 거래는 총 " + total_update_count + "건 입니다.";
    document.getElementById('txt_total_new_update_count').innerText = "그중에 신고가는 총 " + total_update_new_high_price + "건 입니다.";

    document.getElementById('txt_total_new_update_count_sell').innerText = "매매 신고가 " + total_update_new_high_price_sell + "건";
    document.getElementById('txt_total_new_update_count_rent').innerText = "전월세 신고가 " + total_update_new_high_price_rent + "건";
    document.getElementById('txt_total_new_update_count_resale').innerText = "전매 신고가 " + total_update_new_high_price_resale + "건";

    var target_date = '2021/05/20'

    function onSearchChanged() {
        var input = document.getElementById('search');
        var value = input.value;

        var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\"]/gi;

        if (regExp.test(value)){
            var t = value.replace(regExp, "");
            value = t;
        }

        if (value.length < 1) {
            document.getElementById('search_list').innerHTML = '';
            return;
        }
        
        var options = '';

        for (var idx in code_table) {
            var item = code_table[idx];
            if(item.name.indexOf(value) != -1)  {
                options += "<a class='search_item' href='/apt/" + item.name.replace(/(\s*)/g, '') + "'>".concat(item.name, "</a>\n");
            }
        }

        // console.log(options);

        document.getElementById('search_list').innerHTML = options;

    }    
</script>
