---
layout: description
title: 아파트 주간 분석
pagetype: blog
---

<link rel="stylesheet" href="/assets/css/styles.css" media="all" onload="if(media!='all')media='all'">

<script>

    var update_date = '2021/06/19';
    console.log(new Date().format("yyyy/MM/dd"))
    function go(type, target, date) {
        return '/주간분석/' + update_date + '/' + type + '-' + target + '-' + date + '.html'
    }

    function go2(name) {
        return '/주간분석/' + update_date + '/' + name + '.html'
    }

</script>


<main class="sub-mid-section-cover">

    <h3>주간분석</h3>
    <ul>
        <li><h5><a href="#" onclick="location.href=go2('apt-weekly-increase');return false;">주간 시세 변화율 랭킹</a></h5></li>
    </ul>


</main>
